<app-header-restaurant-dashboard></app-header-restaurant-dashboard>

<div class="mainwrap">
  <div class="main">

    <div class="reservations-group">
      <h5 style="color: #395B7E">Pending reservations</h5>
      <hr>
      <app-reservations-pending></app-reservations-pending>
    </div>

    <div class="reservations-group">
      <h5 style="color: #04AA6D">Approved reservations <i class="bi bi-check"></i></h5>
      <hr>
      <app-reservations-approved></app-reservations-approved>
    </div>

    <div class="reservations-group">
      <h5 style="color: red">Denied reservations <i class="bi bi-x"></i></h5>
      <hr>
      <app-reservations-denied></app-reservations-denied>
    </div>

  </div>
</div>

