<app-header-restaurant-dashboard></app-header-restaurant-dashboard>

<div class="wrap">
  <div class="introwrap" >
    <div class="intro">
      <img src="../../assets/restaurant1.jpg" alt="profile">
      <div class="info" *ngIf="restaurants[0].email=='zacin@gmail.com'">
        <p><span>Account information</span></p>
        <hr>
        <p><span>Object type:</span> {{restaurants[0].type}}</p>
        <p><span>Name:</span> {{restaurants[0].name}}</p>
        <p><span>Location:</span> {{restaurants[0].location}}</p>
        <p><span>Contact:</span> {{restaurants[0].contactNum}}</p>
      </div>
    </div>
    <button class="custom-button" routerLink="/restaurant-profile"><i class="bi bi-gear-fill"></i> Edit profile</button>
  </div>
</div>


<div class="mainwrap">
  <div class="main">

    <div class="reservations-group">
      <h5 style="color: #395B7E">Pending reservations</h5>
      <hr>
      <div *ngFor="let reservation of reservations" class="reservation-wrap">
        <div *ngIf="reservation.approval=='pending'" class="reservation-block">
          <div class="user-profile">
            <img src="../../assets/amar.jpg" alt="amar">
            <p> <span>Name:</span> {{reservation.user.firstName}} {{reservation.user.lastName}}</p>
            <p> <span>Contact:</span> {{reservation.user.phone}}</p>
          </div>
          <div>
            <p> <span>UserID:</span> {{reservation.user.id}}</p>
            <p> <span>RestaurantID:</span> {{reservation.restaurant.id}}</p>
            <p> <span>Time:</span> {{reservation.time}}</p>
            <p> <span>Date:</span> {{reservation.date}}</p>
            <p> <span>Number of guests:</span> {{reservation.numberOfGuests}}</p>
            <p> <span>Table ID:</span> {{reservation.tableId}}</p>
            <p> <span>Description</span> {{reservation.description}}</p>
          </div>
          <div class="confirmation">
            <div style="width: 200px">
              <p> <span>Reservation ID:</span> {{reservation.id}}</p>
              <p> <span>Approval status:</span> <br> <span style="color: #F0B67F!important; text-transform: uppercase"> {{reservation.approval}}</span></p>
            </div>
            <div class="confirmation-buttons">
              <button class="btn-success btn" (click)="doApprove(reservation.id)">Approve</button>
              <button class="btn-danger btn" (click)="doDeny(reservation.id)">Deny</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="reservations-group" style="background-color: rgba(57,91,126,0.2)">
      <h5 style="color: #04AA6D">Approved reservations </h5>
      <hr>
      <div *ngFor="let reservation of reservations" class="reservation-wrap">
        <div *ngIf="reservation.approval=='approved'" class="reservation-block">
          <div class="user-profile">
            <img src="../../assets/amil.jpg" alt="amil">
            <p> <span>Name:</span> {{reservation.user.firstName}} {{reservation.user.lastName}}</p>
            <p> <span>Contact:</span> {{reservation.user.phone}}</p>
          </div>
          <div>
            <p> <span>UserID:</span> {{reservation.user.id}}</p>
            <p> <span>RestaurantID:</span> {{reservation.restaurant.id}}</p>
            <p> <span>Time:</span> {{reservation.time}}</p>
            <p> <span>Date:</span> {{reservation.date}}</p>
            <p> <span>Number of guests:</span> {{reservation.numberOfGuests}}</p>
            <p> <span>Table ID:</span> {{reservation.tableId}}</p>
            <p> <span>Description</span> {{reservation.description}}</p>
          </div>
          <div class="confirmation">
            <div style="width: 200px">
              <p> <span>Reservation ID:</span> {{reservation.id}}</p>
              <p> <span>Approval status:</span> <br> <span style="color: #3e8e41!important; text-transform: uppercase"> {{reservation.approval}}</span></p>
            </div>
            <div class="confirmation-buttons-1">
              <button class="btn-danger btn" (click)="doDeny(reservation.id)">Deny</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="reservations-group">
      <h5 style="color: red">Denied reservations</h5>
      <hr>
      <div *ngFor="let reservation of reservations" class="reservation-wrap">
        <div *ngIf="reservation.approval=='denied'" class="reservation-block">
          <div class="user-profile">
            <img src="../../assets/amar.jpg" alt="amar">
            <p> <span>Name:</span> {{reservation.user.firstName}} {{reservation.user.lastName}}</p>
            <p> <span>Contact:</span> {{reservation.user.phone}}</p>
          </div>
          <div>
            <p> <span>UserID:</span> {{reservation.user.id}}</p>
            <p> <span>RestaurantID:</span> {{reservation.restaurant.id}}</p>
            <p> <span>Time:</span> {{reservation.time}}</p>
            <p> <span>Date:</span> {{reservation.date}}</p>
            <p> <span>Number of guests:</span> {{reservation.numberOfGuests}}</p>
            <p> <span>Table ID:</span> {{reservation.tableId}}</p>
            <p> <span>Description</span> {{reservation.description}}</p>
          </div>
          <div class="confirmation">
            <div style="width: 200px">
              <p> <span>Reservation ID:</span> {{reservation.id}}</p>
              <p> <span>Approval status:</span> <br> <span style="color: red!important; text-transform: uppercase"> {{reservation.approval}}</span></p>
            </div>
            <div class="confirmation-buttons-1">
              <button class="btn-success btn" (click)="doApprove(reservation.id)">Approve</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
