
<div class="login">
  <div class="picturewrap">
    <img src="/assets/logo2blue.png" alt="Logo">
  </div>
  <div class="center">
    <div class="wrapper">
      <form  [formGroup]="form" (ngSubmit)="submit()" class="text-center" >
        <div class="inputfields">
          <div>
            <div class="mb-3">
              <label  class="form-label">Email address</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-envelope-fill"></i></span>
                <input formControlName="email" type="email" class="form-control text-center" [ngClass]="{'is-invalid' : email && email.invalid && email.touched}"
                       aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label text-center">Password</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-lock-fill"></i></span>
                <input type="password" formControlName="password" placeholder="At least 8 characters" class="form-control text-center"
                       [ngClass]="{'is-invalid' : password && password.invalid && password.touched}" aria-describedby="basic-addon1">
              </div>
              <div class="invalidInput" *ngIf="password && password.invalid && password.touched">At least one lowercase, capital letter and number (more than 8 characters)</div>
            </div>
            <div class="mb-3">
              <label class="form-label text-center">Confirm Password</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-lock-fill"></i></span>
                <input formControlName="confirmPassword" type="password"  class="form-control text-center"
                       [ngClass]="{'is-invalid' :password && password.touched && confirmPassword && confirmPassword.valid && confirmPassword.touched && checkPassword() }"
                       aria-describedby="basic-addon1">
              </div>
              <div class="invalidInput" *ngIf="password && password.touched && confirmPassword && confirmPassword.valid && confirmPassword.touched && checkPassword() ">
                Passwords do not match</div>
            </div>

            <div class="mb-3">
              <label  class="form-label">Maximal number of guests</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-people"></i></span>
                <input type="number" formControlName="numOfAvailGuests" class="form-control text-center"
                       [ngClass]="{'is-invalid' :numOfAvailGuests && numOfAvailGuests.invalid && numOfAvailGuests.touched }"aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label">Maximal number of tables</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-123"></i></span>
                <input type="number" formControlName="numOfAvailTables" class="form-control text-center"
                       [ngClass]="{'is-invalid' :numOfAvailTables && numOfAvailTables.invalid && numOfAvailTables.touched }"aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label">Type</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-signpost-split"></i></span>
                <input type="text" formControlName="type" class="form-control text-center" placeholder="club or restaurant for now"
                       [ngClass]="{'is-invalid' : type && type.invalid && type.touched }"aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
          <div>
            <div class="mb-3">
              <label  class="form-label">Restaurant name</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-person-fill"></i></span>
                <input type="text" formControlName="name" class="form-control text-center"
                       [ngClass]="{'is-invalid' :name && name.invalid && name.touched }">
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label text-center">Location</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-geo-alt-fill"></i></span>
                <input type="text" formControlName="location" class="form-control text-center" [ngClass]="{'is-invalid' :location && location.invalid && location.touched }" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label text-center">Contact number</label>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                <input type="tel" formControlName="contactNum"  class="form-control text-center" placeholder="Format: NNN-NNN-NNN" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
                       [ngClass]="{'is-invalid' : contactNum && contactNum.invalid && contactNum.touched}"
                       aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label text-center">Manager number</label>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                <input type="tel" formControlName="contactManager"  class="form-control text-center" placeholder="Format: NNN-NNN-NNN" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
                       [ngClass]="{'is-invalid' : contactManager && contactManager.invalid && contactManager.touched}"
                       aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label">Starting hours</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-clock-fill"></i></span>
                <input type="text" formControlName="startHour" class="form-control text-center" id="24h" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                       [ngClass]="{'is-invalid' :startHour && startHour.invalid && startHour.touched }"aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label">Ending hours</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-clock-fill"></i></span>
                <input type="text" formControlName="endHour" class="form-control text-center"  pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                       [ngClass]="{'is-invalid' :endHour && endHour.invalid && endHour.touched }"aria-describedby="basic-addon1">
              </div>
            </div>
            </div>
          </div>
        <div class="mb-3 mb-4">
          <label  class="form-label">Brief Description</label>
          <div class="input-group mb-3">
            <span class="input-group-text" ><i class="bi bi-body-text"></i></span>
            <input type="text" formControlName="ressDescription" class="form-control text-center"
                   [ngClass]="{'is-invalid' : ressDescription && ressDescription.invalid && ressDescription.touched }"aria-describedby="basic-addon1">
          </div>
        </div>
        <button   [disabled]="form.invalid" type="submit" class="btn btn-success btn-lg">SIGN UP</button>
        <p>Already have an account? <a routerLink="/restaurant-login" > Log in</a></p>
        <div id="emailHelp" class="form-text">We'll never share your information with anyone else.</div>
      </form>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
