header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.content-wrap{
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  width: 150px;
  height: auto;
}

.navigation{
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i{
  font-size: 30px;
  color: #395B7E;
  transition:.2s ease-in;
}

i:hover{
  color: #F0B67F;
}

.nav-btn{
  background-color: transparent;
  border: none;
}

.logout-btn{
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  text-transform: uppercase;
  background-color: #395B7E;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in;
  width: 150px;
  letter-spacing: 1px;
  font-size: 15px;
  box-shadow: 3px 2px rgba(0,0,0,0.1);
}

.logout-btn:hover{
  background-color: #F0B67F;
}
