<app-header></app-header>

<div class="all">
  <div class="title>" style="margin: 20px 0">
    <h2>About Us</h2>
  </div>

  <div class="picture">
    <div class="center">
      <div class="card" style="width: 18rem;" *ngFor="let person of people">
        <img src="{{person.image}}" class="card-img-top" alt="{{person.name}}">
        <div class="card-body">
          <h2 class="text-center">{{person.name}}</h2>
          <p class="text-center" style="color: #F0B67F;">{{person.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrap" style="margin-top: 20px">
    <div class="ress" style="line-height: 50px;">
      <p style="color: #395B7E">Ress is an application that will revolutionize the process of reserving tables in restaurants, clubs, bars, pubs…
        It’s never been simpler to reserve a table in your favorite restaurant. First you will choose desired restaurant, bar, pub; where you want to place the reservation. By providing just few crucial information, such size of your party, when will you arrive, your reservation will be sent to the restaurant for approval. In addition to necessary information you will have the option to provide additional comments to the restaurant, such as desired position of table.
      </p>
      <img src="../../assets/restaurant3.jpg" style="border-radius: 10px">
    </div>
    </div>
  <div class="text-center bottom">
    <p>Now that you've met us, you can go forward and make your reservation</p>
    <button type="button" routerLink="/" class="btn btn-success btn-lg">Homepage</button>
  </div>
</div>

<app-footer></app-footer>
