<app-header-user-dashboard></app-header-user-dashboard>

<div class="introductionwrap">
  <div class="introduction">
    <h2 *ngIf="person">Welcome {{person.firstName}} {{person.lastName}}!</h2>
    <div class="searchbar">
      <div class="input-group flex-nowrap">
      <button class="input-group-text" id="addon-wrapping" ><i (click)="onEnter()" class="bi bi-search"></i></button>
      <input type="text" class="form-control searchInput"
             aria-label="Username" aria-describedby="addon-wrapping" name="name" [(ngModel)]="searchText">

      </div>
          <ul  *ngIf="isChecked()" class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let restaurantName of namesOfRestaurants | appFilter: searchText">
              {{restaurantName}}
            </li>
          </ul>
    </div>
    <h2 class="description">Please tell us where you would like to go...</h2>
  </div>
</div>

<div class="maincontantwrap">
  <div class="maincontent">
    <h2 *ngIf="person">Most reserved restaurants</h2>
    <div class="bestthree" >
      <div *ngFor="let restaurant of topThreeMosltyReservedRestaurants">
        <div class="card" style="width: 400px">
          <img class="card-img-top" src="../../../../assets/Backgrounds/restaurant3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color: #395B7E; margin-bottom: 10px; font-size: 25px">{{restaurant.name}}</h5>
            <p class="card-text" style="color: gray; font-size: 15px">Email: {{restaurant.email}}</p>
            <p class="card-text" style="color: gray; font-size: 15px">Contact: {{restaurant.contactNum}}</p>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <a routerLink="/reservation-form/{{restaurant.id}}" class="btn btn-success">Reserve</a>
              <a routerLink="/restaurant-view/{{restaurant.id}}" class="btn btn-outline-primary">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ressspotlight" *ngFor="let restaurant of allRestaurants">
      <div *ngIf="restaurant.name=='Začin'">
        <h2>Ress spotlight</h2>
        <div class="card" style="width: 1300px;">
          <img class="card-img-top" src="../../../../assets/Backgrounds/restaurant4.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color: #395B7E; margin-bottom: 10px; font-size: 25px">{{restaurant.name}}</h5>
            <p class="card-text" style="color: #395B7E">{{restaurant.ressDescription}}</p>
            <p class="card-text" style="color: gray; font-size: 15px">Email: {{restaurant.email}}</p>
            <p class="card-text" style="color: gray; font-size: 15px">Contact: {{restaurant.contactNum}}</p>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <a routerLink="/reservation-form/{{restaurant.id}}" class="btn btn-success">Reserve</a>
              <a routerLink="/restaurant-view/{{restaurant.id}}" class="btn btn-outline-primary">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="restaurantslistwrap" >
    <h2 style="color: #395B7E">List of all restaurants:</h2>
    <div class="restaurantslist" *ngFor="let restaurant of allRestaurants">
      <hr>
      <div class="list">
        <img src="../../../../assets/Backgrounds/restaurant2.jpg" alt="Card image cap" style="width: 200px; border-radius: 10px">
        <div style="text-align: center">
        <h5 class="card-title" style="color: #395B7E; margin-bottom: 10px; font-size: 25px">{{restaurant.name}}</h5>
        <p style="color: gray; font-size: 15px">Email: {{restaurant.email}}</p>
        <p style="color: gray; font-size: 15px">Contact: {{restaurant.contactNum}}</p>
        </div>
        <div class="listbuttons">
          <a routerLink="/restaurant-view/{{restaurant.id}}" class="btn btn-outline-primary">View More</a>
          <a routerLink="/reservation-form/{{restaurant.id}}" class="btn btn-success">Reserve</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>



