<div class="login">
  <div class="picturewrap">
    <img src="/assets/logo2blue.png" alt="Logo">
  </div>
  <div class="center">
    <div class="wrapper">
      <form [formGroup]="form" (ngSubmit)="submit()" class="text-center">
        <div class="mb-3">
          <label  class="form-label">Email address</label>
          <div class="input-group mb-3">
            <span class="input-group-text" ><i class="bi bi-envelope-fill"></i></span>
            <input formControlName="email" type="email" class="form-control text-center" [ngClass]="{'is-invalid' : email && email.invalid && email.touched}" aria-describedby="basic-addon1" >
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label text-center">Password</label>
          <div class="input-group mb-3">
            <span class="input-group-text" ><i class="bi bi-lock-fill"></i></span>
            <input formControlName="password" type="password" class="form-control text-center" [ngClass]="{'is-invalid' : password && password.invalid && password.touched}" aria-describedby="basic-addon1" >
          </div>
        </div>
        <button [disabled]="form.invalid" type="submit" class="btn btn-success btn-lg">LOG IN</button>
        <p>Don't have an account? <a routerLink="/signup"> Sign up</a> </p>
        <div id="emailHelp" class="form-text">We'll never share your information with anyone else.</div>
      </form>
    </div>
  </div>
</div>

