<app-header-user-dashboard></app-header-user-dashboard>

<div *ngIf="restaurant">
  <div class="restaurantprofile">
    <div class="wrap">
      <div class="restaurantwrap">
        <div class="top-description">
          <div class="profile">
            <img src="../../../../assets/Backgrounds/restaurant1.jpg" alt="restaurant-image">
            <div class="name">
              <h3>{{restaurant.name}}</h3>
            </div>
          </div>
          <div class="info">
            <p>Basic contact information:</p>
            <hr>
            <p>E-mail: {{restaurant.email}}</p>
            <p>Contact number: {{restaurant.contactNum}}</p>
            <p>Manager number: {{restaurant.contactManager}}</p>
          </div>
        </div>
        <div class="bottom-description">
          <p>About {{restaurant.type}}</p>
          <hr>
          <p>Location: {{restaurant.location}}</p>
          <p>Working hours: {{restaurant.startHour}}-{{restaurant.endHour}}</p>
          <p>Number of available tables: {{restaurant.numOfAvailTables}}</p>
          <p>Description: </p>
          <p> {{restaurant.ressDescription}}</p>
        </div>
        <a routerLink="/reservation-form/{{restaurant.id}}" class="btn btn-success">Reserve</a>
      </div>
    </div>
  </div>
</div>
