*{
  font-family: 'Inter', sans-serif;
}

body{
  background-image: url("src/assets/Backgrounds/restaurant1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.options{
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 20px;
}

.options button{
  width: 250px;
  height: 250px;
  margin: 20px;
  border-radius: 20px;
  border: none;
  background-color: #395B7E;
  color: white;
  font-size: 30px;
  transition: .2s ease-in;
}

.options button:hover{
  background-color: #F0B67F;
  transform: scale(1.05);
}

.textwrap{
  background-image: linear-gradient(#F0B67F, transparent);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 600px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
  padding: 30px 0;
}
