<app-header-restaurant-dashboard></app-header-restaurant-dashboard>
<div *ngFor="let restaurant of restaurants">
<div class="restaurantprofile" *ngIf="restaurant.email=='zacin@gmail.com'">
  <div class="wrap">
    <div class="restaurantwrap">
      <div class="top-description">
        <div class="profile">
          <img src="../../assets/restaurant1.jpg" alt="restaurant-image">
          <div class="name" *ngIf="restaurant.name=='Začin'">
            <h3>{{restaurant.name}}</h3>
          </div>
        </div>
        <div class="info">
          <p>Basic contact information:</p>
          <hr>
          <p>E-mail: {{restaurant.email}}</p>
          <p>Contact number: {{restaurant.contactNum}}</p>
          <p>Manager number: {{restaurant.contactManager}}</p>
        </div>
      </div>
      <div class="bottom-description">
        <p>About {{restaurant.type}}</p>
        <hr>
        <p>Location: {{restaurant.location}}</p>
        <p>Working hours: {{restaurant.startHour}}-{{restaurant.endHour}}</p>
        <p>Number of available tables: {{restaurant.numOfAvailTables}}</p>
        <p>Description: </p>
        <p> {{restaurant.ressDescription}}</p>
      </div>
    </div>

    <div class="update-profile">
      <h5>Make changes to your profile</h5>
      <div class="form-text" style="color: red">Email and password must be enterd every time!</div>
      <hr>
      <form [formGroup]="form" (ngSubmit)="submit(restaurant.email)">
        <div class="mustinput">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail address:</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" [ngClass]="{'is-invalid' : email && email.invalid && email.touched}" aria-describedby="basic-addon1" placeholder="{{restaurant.email}}">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password:</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" [ngClass]="{'is-invalid' : password && password.invalid && password.touched}" aria-describedby="basic-addon1">
            <div id="emailHelp" class="form-text" style="color: #395B7E;">At least one lowercase, capital letter and number (more than 8 characters)</div>
          </div>
        </div>
        <div class="inputvalues">
          <div class="mb-3">
            <label for="exampleInputFname" class="form-label">Name:</label>
            <input formControlName="name" type="fname" class="form-control" id="exampleInputFname" placeholder="{{restaurant.name}}">
          </div>
          <div class="mb-3">
            <label for="exampleInputContact" class="form-label">Contact number:</label>
            <input formControlName="contactNum" type="text" class="form-control" id="exampleInputContact" placeholder="{{restaurant.contactNum}}">
          </div>
          <div class="mb-3">
            <label for="exampleInputContact" class="form-label">Manager number:</label>
            <input formControlName="contactManager" type="text" class="form-control" id="exampleInputManager" placeholder="{{restaurant.contactManager}}">
          </div>
          <div class="mb-3">
            <label for="exampleInputContact" class="form-label">Location:</label>
            <input formControlName="location" type="text" class="form-control" id="exampleInputlocation" placeholder="{{restaurant.location}}">
          </div>
          <div class="mb-3">
            <label for="exampleInputnoofatables" class="form-label">Number of available tables:</label>
            <input formControlName="numOfAvailTables" type="number" class="form-control" id="exampleInputnoofatables" placeholder="{{restaurant.numOfAvailTables}}">
          </div>
          <div class="mb-3">
            <label for="exampleInputnoofaguests" class="form-label">Number of available guests:</label>
            <input formControlName="numOfAvailGuests" type="number" class="form-control" id="exampleInputnoofaguests" placeholder="{{restaurant.numOfAvailGuests}}">
          </div>
          <div class="mb-3">
            <label for="exampleInputstarthour" class="form-label">Start Hour:</label>
            <input formControlName="startHour" type="time" class="form-control" id="exampleInputstarthour">
          </div>
          <div class="mb-3">
            <label for="exampleInputendhour" class="form-label">End Hour:</label>
            <input formControlName="endHour" type="time" class="form-control" id="exampleInputendhour">
          </div>
          <div class="mb-3">
            <label for="exampleInputtype" class="form-label">Type:</label>
            <select id="exampleInputtype" formControlName="type" class="form-control" size="2">
              <option value="restaurant">Restaurant</option>
              <option value="club">Club</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputdescription" class="form-label">Restaurant description:</label>
            <textarea formControlName="ressDescription" rows="10" cols="30" class="form-control" id="exampleInputdescription" placeholder="{{restaurant.ressDescription}}"></textarea>
          </div>

          <button [disabled]="form.invalid" type="submit" class="btn btn-success">Update profile</button>
        </div>
      </form>
    </div>

    <div class="previous-reservations">
      <div class="reservations-group" style="background-color: rgba(57,91,126,0.2)">
        <h5 style="color: #395B7E">Previous Reservations </h5>
        <hr>
        <div *ngFor="let reservation of reservations" class="reservation-wrap">
          <div *ngIf="reservation.approval=='approved'" class="reservation-block">
            <div>
              <p> <span>UserID:</span> {{reservation.user}}</p>
              <p> <span>RestaurantID:</span> {{reservation.restaurant}}</p>
              <p> <span>Time:</span> {{reservation.time}}</p>
              <p> <span>Date:</span> {{reservation.date}}</p>
              <p> <span>Number of guests:</span> {{reservation.numberOfGuests}}</p>
              <p> <span>Table ID:</span> {{reservation.tableId}}</p>
            </div>
            <div class="confirmation">
              <div style="width: 200px">
                <p> <span>Reservation ID:</span> {{reservation.id}}</p>
                <p> <span>Approval status:</span> <br> <span style="color: #3e8e41!important; text-transform: uppercase"> {{reservation.approval}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
