*{
  margin: 0;
}

.firstOne{
  padding: 20px;
  width: 100%;
  height: 206px;
  background: #F0B67F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.firstOne div{
  width: 400px;
  margin: 20px 0 20px 18px;
}
.firstOne h2{
  color: white;
  margin-left: 20px;
}
.secondh2{
  font-size: 20px;
}
h2{
  color: #395B7E;
  margin: 50px 0 30px 40px;
}
.secondOne{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 350px;
}

.secondOne div {
  width: 30%;
  height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.secondOne h4{
  font-weight: bold;
  color: #395B7E;
  padding: 30px;
}

.secondOne button{
  width: 137px;
  height: 59px;
  background: #395B7E;
  border-radius: 15px;
  color: white;
}

.thirdOne{
  margin: 0 auto;
  width: 70%;
  height: 450px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.secondH2{
  text-align: center;
}
.thirdOne h4{
  font-weight: bold;
  color: #395B7E;
  padding: 30px;
  font-size: 40px;
}
