.introductionwrap{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#e7c6ab,#F0B67F);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.introduction{
  padding: 20px;
  width: 1300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchbar{
  width: 400px;
  margin: 20px 0;
}

.introduction h2{
  color: white;
}

.description{
  font-size: 20px;
}

ul{
  width: 400px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 250px;
  color: #395B7E;
}

.searchInput:hover ul{
  display: block;
}

.input-group span{
  background-color: #395B7E;
  color: white;
  border: none;
}

.maincontantwrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.maincontent{
  width: 1300px;
}

.maincontent h2{
  color: #395B7E;
}

.bestthree{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 20px;
}

.ressspotlight{
    margin: 100px 0;
}

.ressspotlight h2{
  margin-bottom: 20px;
}

.restaurantslistwrap{
  width: 1300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 20px;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listbuttons{
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}
