
<div class="login">
  <div class="picturewrap">
    <img src="../../../../assets/Logos/logo2blue.png" alt="Logo">
  </div>
  <div class="center">
    <div class="wrapper">
      <form  [formGroup]="form" (ngSubmit)="submit()" class="text-center" >
        <div class="inputfields">
          <div>
            <div class="mb-3">
              <label  class="form-label">Email address</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-envelope-fill"></i></span>
                <input formControlName="email" type="email" class="form-control text-center" [ngClass]="{'is-invalid' : email && email.invalid && email.touched}"
                       aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label text-center">Password</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-lock-fill"></i></span>
                <input formControlName="password" type="password" formControlName="password" placeholder="At least 8 characters" class="form-control text-center"
                       [ngClass]="{'is-invalid' : password && password.invalid && password.touched}" aria-describedby="basic-addon1">
              </div>
              <div class="invalidInput" *ngIf="password && password.invalid && password.touched">At least one lowercase, capital letter and number (more than 8 characters)</div>
            </div>
            <div class="mb-3">
              <label  class="form-label text-center">Confirm Password</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-lock-fill"></i></span>
                <input formControlName="confirmPassword" type="password"  class="form-control text-center"
                       [ngClass]="{'is-invalid' :password && password.touched && confirmPassword && confirmPassword.valid && confirmPassword.touched && checkPassword() }"
                       aria-describedby="basic-addon1">
              </div>
              <div class="invalidInput" *ngIf="password && password.touched && confirmPassword && confirmPassword.valid && confirmPassword.touched && checkPassword() ">
                   Passwords do not match</div>
            </div>
          </div>
          <div>
            <div class="mb-3">
              <label  class="form-label">First Name</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-person-fill"></i></span>
                <input type="text" formControlName="firstName" class="form-control text-center"
                       [ngClass]="{'is-invalid' :firstName && firstName.invalid && firstName.touched }"aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label text-center">Last name</label>
              <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-person-fill"></i></span>
                <input type="text" formControlName="lastName" class="form-control text-center" [ngClass]="{'is-invalid' :lastName && lastName.invalid && lastName.touched }" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label text-center">Phone number</label>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                <input type="tel" formControlName="phone"  class="form-control text-center"  placeholder="Format: NNN-NNN-NNN" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
                       [ngClass]="{'is-invalid' : phone && phone.invalid && phone.touched}"
                       aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
        </div>
        <button  [disabled]="form.invalid"   type="submit" class="btn btn-success btn-lg">SIGN UP</button>
        <p>Already have an account? <a routerLink="/login" > Log in</a></p>
        <div id="emailHelp" class="form-text">We'll never share your information with anyone else.</div>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
