<div class="reserve">
  <div class="picturewrap">
    <img src="/assets/logo2.png" alt="Logo">
  </div>
  <div class="center">
    <div class="wrapper">
      <form [formGroup]="form" (ngSubmit)="submit()" class="text-center">
        <div class="mb-3">
          <label  class="form-label">Number of guests</label>
          <div class="input-group mb-3">
            <span class="input-group-text" ><i class="bi bi-person"></i></span>
            <input formControlName="numberOfGuests" type="number" class="form-control text-center" [ngClass]="{'is-invalid' : numberOfGuests && numberOfGuests.invalid && numberOfGuests.touched}" aria-describedby="basic-addon1" >
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label text-center">Date</label>
          <div class="input-group mb-3">
            <span class="input-group-text" ><i class="bi bi-calendar-date"></i></span>
            <input formControlName="date" type="text" placeholder="Mandatory format: yyyy-mm-dd" pattern="(?:19|20)(?:(?:[13579][26]|[02468][048])-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))|(?:[0-9]{2}-(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:29|30))|(?:(?:0[13578]|1[02])-31)))" class="form-control text-center" [ngClass]="{'is-invalid' : date && date.invalid && date.touched}" aria-describedby="basic-addon1" >
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label text-center">Time</label>
          <div class="input-group mb-3">
            <span class="input-group-text" ><i class="bi bi-clock"></i></span>
            <input formControlName="time" type="text" class="form-control text-center" id="24h" placeholder="Mandatory format: HH-MM" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                   [ngClass]="{'is-invalid' : time && time.invalid && time.touched}" aria-describedby="basic-addon1" >
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label text-center">Description</label>
          <div class="input-group mb-3">
            <span class="input-group-text" ><i class="bi bi-clock"></i></span>
            <input formControlName="description" type="text" class="form-control text-center"
                   [ngClass]="{'is-invalid' : description && description.invalid && description.touched}" aria-describedby="basic-addon1" >
          </div>
        </div>
        <button  [disabled]="form.invalid" type="submit" class="btn btn-success btn-lg">RESERVE</button>
      </form>
    </div>
  </div>
</div>
